@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");

:root {
	--fretboard-height: 300;
	--number-of-strings: 6;
	--string-height: 7;
	--half-string-height: calc(var(--string-height) / 2);
	--string-top-position: calc(
		var(--fretboard-height) / var(--number-of-strings) / 2 -
			var(--half-string-height)
	);
	--double-fretmark-position-1: calc(var(--fretboard-height) * 0.35);
	--double-fretmark-position-2: calc(var(--fretboard-height) * 0.65);
	--noteDotOpacity: 0;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background: #111111 !important;
	font-family: Lato, sans-serif;
}

.fretboard {
	display: flex;
	flex-direction: column;
	background: #251a08 url(../img/wood-pattern.png);
	width: 100%;
	height: calc(var(--fretboard-height) * 1px);
}

.string {
	width: 100%;
	height: 100%;
	display: flex;
	position: relative;
}

.string:before {
	content: "";
	width: 100%;
	height: calc(var(--string-height) * 1px);
	background: linear-gradient(#eee, #999);
	box-shadow: 1px 3px 3px #000000;
	z-index: 1;
	position: absolute;
	top: 22px;
	top: calc(var(--string-top-position) * 1px);
}

.note-fret {
	display: flex;
	flex: 1;
	border-right: 10px solid;
	border-image: linear-gradient(to left, #505050, #9e9e9e, #444444) 1 100%;
	justify-content: center;
	align-items: center;
	position: relative;
}

.note-fret:first-child {
	background: #161717;
	min-width: 76px;
	border-right: 12px solid;
	flex-grow: 0;
	flex-shrink: 0;
	border-image: linear-gradient(to left, #bbb, #fff, #bbb) 1 100%;
}

.note-fret:before {
	content: attr(data-note);
	width: 33px;
	height: 33px;
	border-radius: 50%;
	line-height: 33px;
	text-align: center;
	background: teal;
	z-index: 2;
	color: #eee;
	opacity: var(--noteDotOpacity);
}

.single-fretmark:after,
.double-fretmark:before,
.double-fretmark:after {
	content: "";
	position: absolute;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #a3a3a2;
}

.single-fretmark:after {
	top: calc(var(--fretboard-height) / 2 * 1px);
	transform: translate(75%, -50%);
}

.double-fretmark:before {
	top: calc(var(--double-fretmark-position-1) * 1px);
	transform: translate(75%, -45%);
}

.double-fretmark:after {
	top: calc(var(--double-fretmark-position-2) * 1px);
	transform: translate(75%, -45%);
}

.note-bubble {
	color: #fff;
	cursor: pointer;
	font-size: 0.75em;
	position: absolute;
	width: 1.5rem;
	line-height: 1.5rem; /* Same as height  */
	height: 1.5rem;
	display: none;
	border-radius: 15px;
	background: #5c398a;
	z-index: 999;
}

.note-bubble.selected{
	display: block;
	background: #06e223;
}

.note-bubble.fixed{
	display: block;
}

.note-fret:hover .note-bubble {
	display: block;
}
