.ntchord-brand .ntchord-logo {
	display: inline-flex;
}

.ntchord-brand .ntchord-logo h2 {
	font-size: 0.8rem;
	font-weight: 700;
	line-height: 1.5rem;
	margin: 0 0.3rem 0 0.5rem;
}

.section-hero {
	padding: 1rem 0.5rem;
}

.section .interval-table {
	text-align: center;
}

.section .spacer{
	margin: 2em 0 5em 0;
}

.section-updates {
	padding: 5rem 0 5rem;
}

.section-updates .card {
	border: 0;
	margin-bottom: 1rem;
}

.section-introduction {
	padding: 6rem 0 6rem;
}

.section-navbar {
	padding: 1.8rem 0.75rem 1rem;
}

.section-footer {
	color: #bcc3ce;
	padding: 7rem 0 3rem;
}

.section-footer a {
	color: #66758c;
}

@media (max-width: 960px) {
}

@media (max-width: 600px) {
}

@media (min-width: 1366px) {
}
